.main {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

#sth {
    color: #ffffff;
    font-size: 1.1em;
}

#text {
    position: fixed;
    width: 99vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
}
.child {
}

.bold {
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    #child {
        font-size: medium;
    }
}
