#publisherName {
    display: none !important;
}

.contentDiv {
    position: relative;
    left: 5vw;
}

.leftInfo {
    font-size: 30px;
}

.contentDiv2 {
    position: relative;
    left: 33vw;
}

a:hover, a:focus {
    color: darkgray !important;
    background-size: 100% 2px;
}

#description {
    width: 20%;
}