#publisherName {
    display: none !important;
}

.screenshot {
    margin-left: 5vw;
}

h4 {
    margin-top: 2vh;
}

#icon {
    width: 8vw;
    height: 8vw;
    animation: icon 5s 1;
}

@keyframes icon {
    49% {
        transform: rotate(1deg);
        width: 8vw;
        height: 8vw;
    }
    65% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-180deg);
        width: 9vw;
        height: 9vw;
    }
}

#jjjust {
    position: relative;
    top: 2.5%;
    text-align: center;
    color: gold;
}

#verif {
    font-size: 40px;
}