html {
    font-size: 1.25em;
}

body {
    background-color: #0f0f12 !important;
    color: #c4c1b9 !important;
    font-family: "Ubuntu", serif !important;
    overflow-x: hidden;
}

input, textarea {
    background: none !important;
    border-color: #37b3a5 !important;
    color: lightgray !important;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0.25rem #3bc4b5 !important;
}

.btn-outline-success {
    color: #58eac3 !important;
    background-color: transparent !important;
    border-color: #58eac3 !important;
}

.btn-outline-success:hover {
    background-color: #58eac3 !important;
    color: black !important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #207155 !important;
}

.btn-outline-info {
    color: #42d4f5;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#appName {
    cursor: pointer;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #14171f;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar {
    margin-left: 1vw;
    margin-right: 1vw;
}

.b, .nav-link {
    color: #c4c1b9;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s !important;
    cursor: pointer;
}

#footer span {
    width: 25vw;
    text-align: right;
}

#footer span p {
    text-align: left;
}

#footer #center {
    text-align: center;
    width: 50vw;
}

a:hover, a:focus {
    color: darkgray !important;
    background-size: 100% 2px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #575757;
}

::-webkit-scrollbar-thumb:hover {
    background: #959595;
}

.short {
    width: 20vw !important;
}

#signinButton {
    margin-right: 1vw;
}

#password, #password2 {
    margin-bottom: 1.5vh;
}

#noAccount, #alreadyAccount {
    cursor: pointer;
}

#noAccount:hover, #alreadyAccount:hover {
    color: gray !important;
}

.container {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.container h1 {
    text-transform: uppercase;
    display: block;
}

.text1 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 8px;
    position: relative;
    animation: text 3s 1;
}

dialog {
    z-index: 2;
    position: absolute;
    left: 69vw;
    height: 100%;
    width: 30vw;
    background-color: #232c33;
    animation: dialog .5s 1;
}

.header {
    position: relative;
}

.close {
    border-radius: 20px !important;
    height: 30px;
    width: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.close-container {
    display: flex;
    justify-content: flex-end;
}

@keyframes dialog {
    0% {
        left: 80vw;
        opacity: 0.2;
    }
}

@keyframes text {
    0% {
        top: 50%;
        color: black;
    }
    30% {
        letter-spacing: 25px;
    }
    85% {
        letter-spacing: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .short {
        width: 80vw !important;
    }

    #center {
        display: none;
    }

    dialog {
        left: 0 !important;
        width: 100vw !important;
    }
}

#HelloTEST {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5%;
    height: 5%;
    opacity: 0;
    animation: test 1s 1;
}

@keyframes test {
    0% {
        width: 10%;
        height: 10%;
        opacity: 1;
    }
}