html {
    font-size: 1.25em;
}

body {
    background-color: #0f0f12 !important;
    color: #c4c1b9 !important;
    font-family: "Ubuntu", serif !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#appName {
    cursor: pointer;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #14171f;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bar {
    margin-left: 1vw;
    margin-right: 1vw;
}

.b, .nav-link {
    color: #c4c1b9;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s !important;
}

#footer span {
    width: 33.3vh;
    text-align: right;
}

#footer span p {
    text-align: left;
}

#footer #center {
    text-align: center;
}

a:hover, a:focus {
    color: darkgray !important;
    background-size: 100% 2px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #575757;
}

::-webkit-scrollbar-thumb:hover {
    background: #959595;
}

.short {
    width: 20vw !important;
}

#signinButton {
    margin-right: 1vw;
}
