.header {
    margin-bottom: 2vh !important;
}

.row {
    margin-bottom: 5vh !important;
}

textarea {
    height: 200px !important;
}

label {
    color: darkgray !important;
}

.form-control {
    background: none !important;
}

@media screen and (max-width: 1000px) {
    .col {
        margin-bottom: 5vh !important;
    }
}
