h3 {
    margin-bottom: 2vh !important;
}

#nameOfApp {
    text-align: center;
}

.icon .form-group {
    padding: 1em;
    margin: 1em;
}

.icon input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.icon .label {
    width: 17vw;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
}

.icon .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
}

.icon .label i, .icon .label .title {
    color: gray;
    transition: 200ms color;
}

.icon .label:hover {
    border: 2px solid whitesmoke;
}

.icon .label:hover i, .icon .label:hover .title {
    color: white;
}

.row {
    margin-bottom: 5vh !important;
}

textarea {
    height: 300px !important;
}

label {
    color: darkgray !important;
}

ul {
    cursor: pointer;
}

#otherInput {
    margin-top: 1vh;
    display: none;
}

@media screen and (max-width: 1000px) {
    .col {
        margin-bottom: 5vh !important;
    }
}

#iconUploaded {
    width: 8vw;
    height: 8vw;
}

#checkbox {
    color: #3dd9a2;
    border-radius: 20px;
}