h3 {
    margin-bottom: 2vh !important;
}

#appName {
    text-align: center;
}

.row {
    margin-bottom: 5vh !important;
}

textarea {
    height: 300px !important;
}

label {
    color: darkgray !important;
}

ul {
    cursor: pointer;
}

#otherInput {
    margin-top: 1vh;
    display: none;
}

@media screen and (max-width: 1000px) {
    .col {
        margin-bottom: 5vh !important;
    }
}
