{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <br>
    <center>
        <div class="container">
            <h1 class="text1">About</h1>
        </div>
    </center>
    <div id="text">
        <div id="child">
            <p><a class="b bold" href="/">App Catalog</a> is a web app where you<br>can share (upload/see/download) your
                <br>and others' projects.
            </p>
            <p>It was made by <a class="b bold" target="_blank" href="https://github.com/Potriashka">Peter Repiev</a> with help from<br>
                <a class="b bold" target="_blank" href="https://github.com/BekhruzSNiyazov">Bekhruz Niyazov</a>
                during 2021.</p>
            <p>Contact  <a class="b bold" href="mailto:petrpotriashka2@gmail.com">Peter Repiev</a><br>
            Contact <a class="b bold" href="mailto:bekhruzsniyazov@outlook.com">Bekhruz Niyazov</a></p>
            <p>Source code on <a class="b bold" target="_blank" href="https://github.com/Potriashka/AppCatalog">GitHub</a></p>
        </div>
    </div>
{% endblock %}