{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <p class="main" >I'm peter</p>
    <p class="main" >You can contact us <a href="https://github.com/Potriashka/AppCatalog/issues">here</a></p>

    <input id="test" placeholder="test">
    <button onclick="test1();">OK</button>

    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>

    <script src="{{url_for('static', filename='scripts/about.tsx')}}"></script>
{% endblock %}
