{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <p class="main"><a class="main" id="sth" href="/">App Catalog</a> is a web app where you<br>can share (upload/see/download) your<br>and others' projects.</p>
    <p class="main">It was made by <a class="main" id="sth" href="https://github.com/Potriashka">Peter Repiev</a> with a large help of<br><a class="main" id="sth" href="https://github.com/BekhruzSNiyazov">Bekhruz Niyazov</a>
         during the spring of 2021.</p>
    <p class="main" >You can contact us <a class="main" id="sth" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqZhfdlqHNdSrsjkrJDFRcKZPpkpVlHwzWdFgDmmNHZNGvbZdDxDdgxlcGVrjJhSgjgbzL">here</a></p>
    <p class="main">Source code is on (the) <a class="main" id="sth" href="https://github.com/Potriashka/AppCatalog">Github</a></p>
{% endblock %}