{% extends "base.html" %}
{% block title %}Your Account{% endblock %}
{% block body %}
    <center>
        <br>
        <div class="container">
            <h1 class="text1" >Your account</h1>
            <h1 class="text2" > </h1>
        </div>
    </center>
    <div id="contentDiv">
        <br>
        Your Username: <span id="usernameSpan"></span>
        <br>
        Your Publisher Name: <span id="nameSpan"></span>
        <br>
        <br>
        <button onclick="signout();" class="btn btn-outline-danger">Sign Out</button>
    </div>
    <!--  the script  -->
    <script src="{{url_for('static', filename='scripts/account.tsx')}}"></script>
    <!--  the stylesheet  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock %}
