{% extends "base.html" %}
{% block title %}New App{% endblock %}
{% block body %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/newapp.css')}}">
  <br>
    <center>
        <div class="container">
            <h1 class="text1">New App</h1>
        </div>
    </center>

    <p class="k" id="CHim">Choose an image</p>
    <p class="k" id="ENem">Enter a name of an app</p>

    <form>
        <input type="file" id="fileChooser">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Great app">
    </form>
  <!-- scripts -->
  <script src="{{url_for('static', filename='scripts/newapp.tsx')}}"></script>
{% endblock %}