{% extends "base.html" %}
{% block title %}{{ publisher }} on App Catalog{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <center>
        <br>
        <p id="jjjust" ></p>
        <div class="container">
            <h1 id="publisher" class="text1">{{ publisher }}</h1>
        </div>
    </center>
    <div class="row">
        <div class="col-3">
            <center>
                <div id="iconDiv">
                <img id="icon">
                </div>
                <h2 id="nameOfApp">{{ app }} <span class="text-muted" id="verif" ></span></h2>
            </center>
        </div>
        <div class="col order-1">
            <h4>Description</h4>
            <div id="description"></div>
            <h4>Type of the App</h4>
            <div id="type"></div>
        </div>
        <div class="col order-2">
            <h4>Link to the App</h4>
            <div id="link"></div>
            <h4>Link to the Source Code of the App</h4>
            <div id="source"></div>
        </div>
    </div>
    <h4 class="screenshot">Screenshots</h4>
    <div id="publisherName">{{ publisher }}</div>
    <!-- script -->
    <!-- {% block script %}<script src="{{url_for('static', filename='scripts/app.js')}}"></script>{% endblock %} -->
{% endblock %}