<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | App Catalog</title>
    </head>
    <body>
        <!--  The core Firebase JS SDK is always required and must be listed first  -->
        <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>
        <!--  importing the Ubuntu font  -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <!--  the stylesheet  -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <!--  icon  -->
        <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
        <!--  importing bootstrap  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
        <!--  navbar  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{url_for('static', filename='images/favicon.ico')}}" alt="icon" width="50" height="50">
                </a>
                <span class="navbar-brand" id="appName" href="/">App Catalog</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/publishers">Publishers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Support</a>
                        </li>
                    </ul>
                    <div>

                    </div>
                    <div id="account">
                        <button class="btn btn-outline-primary" type="submit" id="show" id="accountButton">Account</button>
                    </div>
                    <div id="buttons">
                        <button class="btn btn-outline-primary" type="submit" id="show1">Sign in</button>
                        <button class="btn btn-outline-primary" type="submit" id="show2">Register</button>
                    </div>
                </div>
            </div>
        </nav>
        <dialog id="d">
            <br>
            <div class="container">
                <h1 class="text1" id="j" >Your account</h1>
            </div>
            <div id="contentDiv">
                <br>
                Your Username: <span id="usernameSpan"></span>
                <br>
                Your Publisher Name: <span id="nameSpan"></span>
                <br>
                <br>
                <button onclick="signout();" class="btn btn-outline-danger">Sign Out</button>
            </div>
            <button class="btn btn-secondary btn-sm" id="close">Close</button>
        </dialog>
        <dialog id="d1">
            <br>
            <div class="container">
                <h1 class="text1" id="j1" >Sign In</h1>
            </div>
            <div id="contentDiv1">
                <br>
                <input type="text" id="username" placeholder="Username" class="form-control short">
                <br>
                <input type="password" id="password" placeholder="Password" class="form-control short">
                <br>
                <button onclick="signin();" class="btn btn-outline-success" id="buttonSignIn">Sign in</button>
            </div>
            <button class="btn btn-secondary btn-sm" id="close1">Close</button>
        </dialog>
        <dialog id="d2">
            <br>
            <div class="container">
                <h1 class="text1" id="j2" >Register</h1>
            </div>
            <div id="contentDiv2">
                <br>
                <input type="text" id="username" placeholder="Username" class="form-control short">
                <br>
                <input type="text" id="name" placeholder="Publisher Name" class="form-control short">
                <br>
                <input type="password" id="password1" placeholder="Password" class="form-control short">
                <br>
                <input type="password" id="password2" placeholder="Password (Again)" class="form-control short">
                <br>
                <button onclick="register();" class="btn btn-outline-success" id="buttonRegister">Register</button>
            </div>
            <button class="btn btn-secondary btn-sm" id="close2">Close</button>
        </dialog>
        <!--  the script  -->
        {% block script %}
        <script type = text/javascript>
            var dialog = document.querySelector('dialog');
            document.querySelector('#show').onclick = function() {
                dialog.show();
            };
            document.querySelector('#close').onclick = function() {
                dialog.close();
            };
        </script>
        <script  type = text/javascript>
            var dialog = document.querySelector('dialog1');
            document.querySelector('#show1').onclick = function() {
                dialog.show();
            };
            document.querySelector('#close1').onclick = function() {
                dialog.close();
            };
        </script>
        <script  type = text/javascript>
            var dialog = document.querySelector('dialog2');
            document.querySelector('#show2').onclick = function() {
                dialog.show();
            };
            document.querySelector('#close2').onclick = function() {
                dialog.close();
            };
        </script>
        </script>
        <script src="{{url_for('static', filename='scripts/account.tsx')}}"></script>
        <script src="{{url_for('static', filename='scripts/signin.tsx')}}"></script>
        <script src="{{url_for('static', filename='scripts/register.tsx')}}"></script>
        {% endblock %}
        <div id="page-container">
            {% block body %}
                <!--  body of the webpage  -->
            {% endblock %}
        </div>
        <!--  the footer of the webpage  -->
        <footer id="footer">
            <span>
                <p class="a">Peter and Bekhruz Inc.</p>
                <p>2021</p>
            </span>
            <span id="center">
                <a class="b" href="/">Home</a>
                <span class="bar"> | </span>
                <a class="b" href="/publishers" >Publishers</a>
                <span class="bar"> | </span>
                <a href="/account" class="b" id="accountFooter">Account</a>
                <a href="/signin" class="b buttonsFooter">Sign in</a>
                <span class="bar buttonsFooter"> | </span>
                <a href="/register" class="b buttonsFooter">Register</a>
                <span class="bar"> | </span>
                <a class="b" href="/about" >About</a>
            </span>
            <span>
                <a href="/about" id="image"><img class="img" src="{{url_for('static', filename='images/favicon.ico')}}" alt="logo" width="75" height="75"></a>
            </span>
        </footer>
        <!--  the base.tsx and another script  -->
        <script src="{{url_for('static', filename='scripts/base.tsx')}}"></script>
        <script type = text/javascript>
            var dialog = document.querySelector('dialog');
            document.querySelector('#show').onclick = function() {
                dialog.show();
            };
            document.querySelector('#close').onclick = function() {
                dialog.close();
            };
        </script>
    </body>
</html>