{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <br>
    <center>
        <h1>Set</h1>
        <input id="set_name" placeholder="Name">
        <br>
        <input id="set_id" placeholder="Id">
        <br>
        <button onclick="set();">Set</button>
        <h1>Update</h1>
        <input id="update_name" placeholder="Name">
        <br>
        <input id="update_id" placeholder="Id">
        <br>
        <button onclick="update();">Update</button>
    </center>
    <!--  The core Firebase JS SDK is always required and must be listed first  -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js"></script>
    <!--  the script  -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>

{% endblock %}
