{% extends "base.html" %}
{% block title %}Publishers{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/publishers.css')}}">
    <center>
        <br>
        <div class="container">
            <h1 class="text1" >Publishers</h1>
            <h1 class="text2" > </h1>
        </div>
    </center>
    <div id="publishers"><i class="fa fa-spinner fa-spin"></i> Loading</div>
    <script src="{{url_for('static', filename='scripts/publishers.tsx')}}"></script>
{% endblock %}