{% extends "base.html" %}
{% block title %}Add App{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <br>
    <center>
        <div class="container">
            <h1 class="text1">Publish App</h1>
        </div>
    </center>
    <div class="container">
        <div class="row">
            <div class="col">
                <center>
                    <h2 class="header">Enter the Name of Your App</h2>
                    <input class="form-control short" id="name" placeholder="My Awesome App">
                </center>
            </div>
            <div class="col order-1">
                <center>
                    <h2 class="header">Upload the Icon</h2>
                    <div class="input-group short">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </center>
            </div>
        </div>
    </div>
    <center>
        <button class="btn btn-outline-primary">Publish</button>
    </center>
{% endblock %}
