{% extends "base.html" %}
{% block title %}Publish App{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/publishapp.css')}}">
    <br>
    <center>
        <div class="container">
            <h1 class="text1">Publish App</h1>
        </div>
    </center>
    <div class="container">
        <div class="row">
            <div class="col">
                <center>
                    <h3>Enter the Name of Your Project</h3>
                    <input class="form-control short" id="nameOfApp" placeholder="My Awesome App">
                </center>
            </div>
            <div class="col order-1">
                <center>
                    <h3 class="header">Upload the Icon</h3>
                    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

                    <div id="uploadThingy" class="icon">
                        <div class="form-group">
                            <label class="label">
                                <i class="material-icons">attach_file</i>
                                <span class="title">Upload icon</span>
                                <input type="file" id="icon">
                            </label>
                        </div>
                    </div>
                    <div class="preview">
                        <p></p>
                    </div>
                    <div class="open_grepper_editor" title="Edit & Save To Grepper"></div>
                </center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <center>
                    <h3>Enter the Description</h3>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Description" id="description"></textarea>
                        <label for="description">Description</label>
                    </div>
                </center>
            </div>
            <div class="col order-1">
                <center>
                    <h3>Choose the Type of Your App</h3>
                    <ul class="list-group short">
                        <li class="list-group-item" id="webButton">Web App</li>
                        <li class="list-group-item" id="mobileButton">Mobile App</li>
                        <li class="list-group-item" id="gameButton">Game</li>
                        <li class="list-group-item" id="cliButton">CLI Program</li>
                        <li class="list-group-item" id="packageButton">Package</li>
                        <li class="list-group-item" id="other">Other...</li>
                        <input class="form-control short" id="otherInput" placeholder="Enter the type of your app">
                    </ul>
                </center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Collaborators</h3>
                <button class="btn btn-outline-success">Add Collaborator</button>
            </div>
            <div class="col order-1">
                <center>
                    <h3>Links</h3>
                    <div id="web">
                        <input class="form-control short" placeholder="Paste the website link" id="link">
                    </div>
                    <br>
                    <input class="form-control short" placeholder="Paste the link to source code" id="source">
                </center>
            </div>
        </div>
        <hr>
    </div>
    <center>
        <button class="btn btn-outline-success" id="publishButton" onclick="publish();">Publish</button>
    </center>
    <br>
    <br>

    <!-- script -->
    <script src="{{url_for('static', filename='scripts/publishapp.tsx')}}"></script>
{% endblock %}
