{% extends "base.html" %}
{% block title %}{{ publisher }} on App Catalog{% endblock %}
{% block body %}
    <center>
        <br>
        <div class="container">
            <h1 class="text1">{{ publisher }}</h1>
        </div>
    </center>
    <div id="contentDiv">
        <h3 class="h3_header">Apps</h3>
    </div>
    <!--  the script  -->
    <!--  {% block script %}<script src="{{url_for('static', filename='scripts/publisher.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/publisher.js')}}"></script>{% endblock %}  -->
    <!--  the stylesheet  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/publisher.css')}}">
    <div id="publisherName">{{ publisher }}</div>
{% endblock %}
