{% extends "base.html" %}
{% block title %}Publish App{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/publishapp.css')}}">
    <br>
    <center>
        <div class="container">
            <h1 class="text1">Publish App</h1>
        </div>
    </center>
    <div class="container">
        <div class="row">
            <div class="col">
                <center>
                    <h3 class="header">Enter the Name of Your App</h3>
                    <input class="form-control short" id="appName" placeholder="My Awesome App">
                </center>
            </div>
            <div class="col order-1">
                <center>
                    <h3 class="header">Upload the Icon</h3>
                    <div class="input-group short">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <center>
                    <h3 class="header">Enter the Description</h3>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Description" id="floatingTextarea2"></textarea>
                        <label for="floatingTextarea2">Description</label>
                    </div>
                </center>
            </div>
            <div class="col order-1">
                <center>
                    <h3 class="header">Something else</h3>
                </center>
            </div>
        </div>
        <hr>
    </div>
    <center>
        <button class="btn btn-outline-success" id="publishButton">Publish</button>
    </center>

    <!-- script -->
    <script src="{{url_for('static', filename='scripts/publishapp.tsx')}}"></script>
{% endblock %}
