{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <center>
        <br>
        <div class="container">
            <h1 class="text1" >Register</h1>
            <h1 class="text2" > </h1>
        </div>
        <br>
        <input type="text" id="username" placeholder="Username" class="form-control short">
        <br>
        <input type="text" id="name" placeholder="Publisher Name" class="form-control short">
        <br>
        <input type="password" id="password1" placeholder="Password" class="form-control short">
        <br>
        <input type="password" id="password2" placeholder="Password (Again)" class="form-control short">
        <br>
        <button onclick="register();" class="btn btn-outline-success" id="buttonRegister">Register</button>
    </center>
    <!--  {% block script %}<script src="{{url_for('static', filename='scripts/register.tsx')}}"></script>{% endblock %}  -->
{% endblock %}
