{% extends "base.html" %}
{% block title %}Sign in{% endblock %}
{% block body %}
    <center>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <br>
        <div class="container">
            <h1 class="text1">Sign In</h1>
        </div>
        <br>
        <input type="text" id="username" placeholder="Username" class="form-control short">
        <br>
        <input type="password" id="password" placeholder="Password" class="form-control short">
        <br>
        <button onclick="signin();" class="btn btn-outline-success" id="buttonSignIn">Sign in</button>
    </center>
    <!--  {% block script %}<script src="{{url_for('static', filename='scripts/signin.tsx')}}"></script>{% endblock %}}  -->
{% endblock %}
